<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="logImpl" value="LOG4J" />
		<!-- <setting name="logImpl" value="STDOUT_LOGGING" /> -->
		<!-- <setting name="logImpl" value="LOG4J" /> -->
	</settings>
	<plugins>
		<plugin interceptor="com.github.pagehelper.PageHelper">
			<!-- 告诉插件,使用的是什么数据库 -->
			<!-- 可取值:mysql, mariadb, sqlite, oracle, hsqldb, postgresql, sqlserver, 
				db2, informix, h2, sqlserver2012; -->
			<property name="dialect" value="mysql" />
		</plugin>
	</plugins>
</configuration>
